.domainSidebar {
    flex: 0.2;
}

.domainSidebar>hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    background-color: #aaa;
    border-radius: 15px;
    cursor: pointer;
    color: black;
}